* {
    background:     #28282882;
    background-alt: #282828;
    foreground:     #ebdbb2;
    selected:       #689d6a;
    active:         #689d6a;
    urgent:         #cc241d;
    yellow:         #d79921;
}
