* {
    background:     #28282882;
    background-alt: #282828;
    foreground:     #ebdbb2;
    selected:       #b8bb26;
    active:         #b8bb26;
    urgent:         #cc241d;
    yellow:         #d79921;
}
